{#
This macro creates a table of ADAs. It has the following params

tableId: required, id of the table
adas: required, the data to display
total: required, the total number of days.
mainTitle: optional, title above table
emptyTitle: optional, displayed if table is empty
checkboxes: optional, defaults to false, does table have checkboxes
hideStatuses: optional,  defaults to false , should the status of the ada be displayed
totalText: optional,  defaults to 'Total' , the text displayed next to the total.
showTotalPerDateCharged: optional,  defaults to false, should the total be shown per charge date
#}
{% macro adaTable(params) %}
  {% if params.adas | length %}
    {% if params.mainTitle %}
      <p>{{ params.mainTitle }}</p>
    {% endif %}

    {% for ada in params.adas %}
      <div class="govuk-!-margin-bottom-6">
        {% if params.checkboxes %}
          {% set isoDate = ada.dateChargeProved | date("YYYY-MM-DD") %}
          <div class="govuk-form-group">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input row-checkbox" id="prospective-{{ isoDate }}" name="prospective" type="checkbox"value="{{ isoDate }}">
                <label class="govuk-label govuk-checkboxes__label" for="prospective-{{ isoDate }}">Charge proved {{ ada.dateChargeProved | date("DD MMM YYYY") }}</label>
              </div>
            </div>
          </div>
        {% else %}
          <h3 class="govuk-heading-s">Charge proved {{ ada.dateChargeProved | date("DD MMM YYYY") }}</h3>
        {% endif %}

        <table id="{{ params.tableId }}"
              class="govuk-table {{ 'govuk-!-margin-bottom-8' if not params.checkboxes else 'govuk-!-margin-bottom-2' }}">
          <thead class="govuk-table__head">
            <tr>
              <th class="govuk-table__header {{ 'govuk-!-width-two-fifths' if params.hideStatuses else 'govuk-!-width-one-fifth' }}"
                  scope="col">Charge number
              </th>
              <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">To be served</th>
              <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Heard at</th>
              {% if not params.hideStatuses %}
                <th class="govuk-table__header" scope="col">Status</th>
              {% endif %}
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Days</th>
            </tr>
          </thead>
          <tbody>
            {% for charge in ada.charges %}
              <tr>
                <td class="govuk-table__cell">
                  {{ charge.chargeNumber }}
                </td>
                <td class="govuk-table__cell">
                  {{ charge.toBeServed }}
                </td>
                <td class="govuk-table__cell">
                  {{ charge.heardAt }}
                </td>
                {% if not params.hideStatuses %}
                  <td class="govuk-table__cell">
                    {% if not params.checkboxes %}
                      {% if ada.status === 'SUSPENDED' %}
                        <strong class="govuk-tag govuk-tag--red">{{ ada.status }}</strong>
                      {% elif ada.status === 'PENDING APPROVAL' or ada.status === 'AWARDED' %}
                        <strong class="govuk-tag govuk-tag--">{{ ada.status }}</strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--blue">{{ ada.status }}</strong>
                      {% endif %}
                    {% endif %}
                    {% if charge.status === 'PROSPECTIVE' %}
                      <strong class="govuk-tag govuk-tag--purple">{{ charge.status }}</strong>
                    {% endif %}
                  </td>
                {% endif %}
                <!-- Days -->
                <td class="govuk-table__cell govuk-table__header--numeric">{{ charge.days }}</td>
              </tr>
            {% endfor %}
          </tbody>
          {% if not params.checkboxes and loop.last %}
            <tfoot>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="{{3 if params.hideStatuses else 4}}">
                {{ params.totalText if params.totalText else 'Total' }}
              </th>
              <td class="govuk-table__cell govuk-!-text-align-right">{{ params.total }}</td>
            </tr>
            </tfoot>
          {% endif %}
        </table>
      </div>
    {% endfor %}
    {% if params.checkboxes %}
      <div class="govuk-form-group govuk-!-margin-bottom-4">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="unselect-all" name="none" type="checkbox" value="none">
            <label class="govuk-label govuk-checkboxes__label" for="unselect-all">None of these PADAs apply</label>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    <p>{{ params.emptyTitle }}</p>
  {% endif %}
{% endmacro %}