{#
This macro creates a table of ADAs. It has the following params

tableId: required, id of the table.
adas: required, the data to display.
total: required, the total number of days.
mainTitle: optional, title above table.
emptyTitle: optional, displayed if table is empty.
checkboxes: optional, defaults to false, does table have checkboxes
hideStatuses: optional,  defaults to false , should the status of the ada be displayed.
totalText: optional,  defaults to 'Total' , the text displayed next to the total.
showTotalPerDateCharged: optional,  defaults to false, should the total be shown per charge date.
#}
{% macro adaTable(params) %}
  {% if params.adas | length %}
    {% if params.mainTitle %}
      <p>{{ params.mainTitle }}</p>
    {% endif %}

    {% for ada in params.adas %}
      {% set html %}
        <table id="{{ params.tableId }}"
              class="govuk-table {{ 'govuk-!-margin-bottom-8' if not params.checkboxes else 'govuk-!-margin-bottom-2' }}">
          <thead class="govuk-table__head">
            <tr>
              <th class="govuk-table__header {{ 'govuk-!-width-two-fifths' if params.hideStatuses else 'govuk-!-width-one-fifth' }}"
                  scope="col">Charge number
              </th>
              <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">To be served</th>
              <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Heard at</th>
              {% if not params.hideStatuses %}
                <th class="govuk-table__header" scope="col">Status</th>
              {% endif %}
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Days</th>
            </tr>
          </thead>
          <tbody>
            {% for charge in ada.charges %}
              <tr>
                <td class="govuk-table__cell">
                  {{ charge.chargeNumber }}
                </td>
                <td class="govuk-table__cell">
                  {{ charge.toBeServed }}
                </td>
                <td class="govuk-table__cell">
                  {{ charge.heardAt }}
                </td>
                {% if not params.hideStatuses %}
                  <td class="govuk-table__cell status-cell">
                    {% if not params.checkboxes %}
                      {% set adaStatus = 'PENDING APPROVAL' if ada.status == 'PENDING_APPROVAL' else ada.status%}
                      <div class="status-tag-row">
                      {% if adaStatus === 'SUSPENDED' %}
                        <strong class="govuk-tag govuk-tag--red">{{ adaStatus | title }}</strong>
                      {% elif adaStatus === 'AWARDED' or adaStatus === 'PENDING APPROVAL' %}
                        <strong class="govuk-tag govuk-tag--green">{{ adaStatus | title }}</strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--blue">{{ adaStatus | title }}</strong>
                      {% endif %}
                      </div>
                    {% endif %}
                    {% if charge.status === 'PROSPECTIVE' %}
                      <div class="status-tag-row">
                        <strong class="govuk-tag govuk-tag--purple">{{ charge.status | title }}</strong>
                      </div>
                    {% endif %}
                  </td>
                {% endif %}
                <!-- Days -->
                <td class="govuk-table__cell govuk-table__header--numeric">{{ charge.days }}</td>
              </tr>
            {% endfor %}
          </tbody>
          {% if not params.checkboxes and loop.last %}
            <tfoot>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="{{3 if params.hideStatuses else 4}}">
                {{ params.totalText if params.totalText else 'Total' }}
              </th>
              <td class="govuk-table__cell govuk-!-text-align-right">{{ params.total }}</td>
            </tr>
            </tfoot>
          {% endif %}
        </table>
      {% endset %}

      {% if params.checkboxes %}
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card__content equal-padding">
            {% set isoDate = ada.dateChargeProved | date("YYYY-MM-DD") %}
            <div class="govuk-form-group">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input row-checkbox" id="prospective-{{ isoDate }}" name="prospective" type="checkbox"value="{{ isoDate }}">
                  <label class="govuk-label govuk-checkboxes__label" for="prospective-{{ isoDate }}">
                  <span class="govuk-visually-hidden">Select this adjudication</span> Date charge proved {{ ada.dateChargeProved | date("DD MMM YYYY") }}</label>
                </div>
              </div>
            </div>
            <div class="govuk-!-padding-left-9">
              <p class="govuk-body govuk-!-margin-top-4">
                <strong>
                  Adjudication details
                </strong>
              </p>
              {{ html | safe }}
            </div>
          </div>
        </div>
      {% else %}
        <div class="govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-s">Charge proved {{ ada.dateChargeProved | date("DD MMM YYYY") }}</h3>
          {{ html | safe }}
        </div>
      {% endif %}
    {% endfor %}
    {% if params.checkboxes %}
      <div class="govuk-form-group checkbox-padding govuk-!-margin-bottom-4">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="unselect-all" name="none" type="checkbox" value="none">
            <label class="govuk-label govuk-checkboxes__label" for="unselect-all">None of these apply</label>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    <p>{{ params.emptyTitle }}</p>
  {% endif %}
{% endmacro %}