{% macro adjustmentCard(adjustmentType, model, prisonerNumber) %}
  <div class="adjustment-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ adjustmentType.text }}</h2>
      <ul class="govuk-summary-card__actions govuk-!-width-two-fifths">
          {% if model.displayAddLink(adjustmentType) %}
          <li class="govuk-summary-card__action">
            <a href="/{{ prisonerNumber }}/{{ adjustmentType.url }}/add"
              data-qa="add-{{ adjustmentType.url }}">
              Add new <span class="govuk-visually-hidden">{{ adjustmentType.shortText }}</span>
            </a>
          </li>
        {% endif %}
        {% if model.displayReviewRemand(adjustmentType) %}
          <li class="govuk-summary-card__action">
            <a href="/{{ prisonerNumber }}/remand">Review remand</a>
          </li>
        {% endif %}
        {% if model.showDetails(adjustmentType) %}
          <li class="govuk-summary-card__action">
            <a href="/{{ prisonerNumber }}/{{ adjustmentType.url }}/view"
               data-qa="view-{{ adjustmentType.url }}">
              View <span class="govuk-visually-hidden">{{ adjustmentType.shortText }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="adjustment-card_content">
      <span class="count govuk-body">{{ model.getTotalDays(adjustmentType) }}</span>
      <span class="govuk-body">
        days
        {% if model.getUnused(adjustmentType) %}
          including {{model.getUnused(adjustmentType)}} days unused
        {% endif %}
      </span>
        <br />
      {% if model.getLalAffectsDateText(adjustmentType) %}
       <span class="govuk-body">{{ model.getLalAffectsDateText(adjustmentType) }}</span><br>
      {% endif %}
      {% if model.showDetails(adjustmentType) %}
         <span class="govuk-hint govuk-!-font-size-14">Last update
          on {{ model.getLastUpdated(adjustmentType).lastUpdatedDate | date("D MMMM YYYY") }}
          by {{ model.getLastUpdated(adjustmentType).prisonName or 'Unknown' }}.</span>
      {% endif %}
      {% if model.showProspectiveAdaLink(adjustmentType) %}
        <a href="/{{ prisonerNumber }}/additional-days/review-prospective">Review unapplied PADAs</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}