{% from "govuk/components/details/macro.njk" import govukDetails %}
{% macro adjustmentCard(adjustmentType, model) %}
  <div class="adjustment-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ adjustmentType.text }}</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              {% if model.displayAddLink(adjustmentType) %}
                    <a href="/{{ prisoner.offenderNo }}/{{ adjustmentType.url }}/add"
                      data-qa="add-{{ adjustmentType.url }}">Add new</a>
              {% else %}
                <a href="/{{ prisoner.offenderNo }}/remand" class="govuk-!-text-align-right">Review remand</a>
              {% endif %}
            </li>
            {% if model.showDetails(adjustmentType) %}
              <li class="govuk-summary-card__action">
                <a href="/{{ prisoner.offenderNo }}/{{ adjustmentType.url }}/view"
                  data-qa="view-{{ adjustmentType.url }}">View</a>
              </li>
            {% endif %}

        </ul>
    </div>

    <div class="adjustment-card_content">
        <span class="count govuk-body">{{ model.getTotalDays(adjustmentType) }}</span>
        <span>Days</span>
        {% if model.getUnused(adjustmentType) %}
          <span class="govuk-hint">including {{model.getUnused(adjustmentType)}} days unused </span>
        {% endif %}
        {% if model.showDetails(adjustmentType) %}
          <br />
          <p class="govuk-body govuk-!-font-size-14">Last update
            on {{ model.getLastUpdated(adjustmentType).lastUpdatedDate | date("DD MMMM YYYY") }}
            by {{ model.getLastUpdated(adjustmentType).prisonName or 'Unknown' }}.</p>
        {% endif %}
        {% if adjustmentType.value == 'REMAND' and model
        .remandDecision and model
        .hasRemandToolRole() %}
          <p class="govuk-body">{{ model.remandDecision.days }} days of suggested remand was
            {{ "accepted" if model.remandDecision.accepted else "rejected" }}
            on {{ model.remandDecision.decisionOn | date("DD MMMM YYYY HH:mm") }}
            by {{ model.remandDecision.decisionByPrisonDescription }}.
            {% if not model.remandDecision.accepted %}
              <br/>
              Reason for rejection: {{ model.remandDecision.rejectComment }}
              <br/>
              <a href="{{ prisoner.offenderNo }}/remand">Re-review</a>
            {% endif %}
          </p>
        {% endif %}
    </div>
  </div>
{% endmacro %}