{% from "govuk/components/details/macro.njk" import govukDetails %}
{% macro adjustmentCard(adjustmentType, model) %}
    <div class="adjustment-card">
        <div class="adjustment-card_heading">
            <h2 class="govuk-heading-s adj-card-heading govuk-!-margin-bottom-0">{{adjustmentType.text}}</h2>
            <a href="/{{model.prisonerDetail.offenderNo}}/{{adjustmentType.url}}/add" class="govuk-!-text-align-right" data-qa="add-{{adjustmentType.url}}">Add {{adjustmentType.shortText}}</a>
        </div>
        <div class="adjustment-card_content">
            <span class="count govuk-body">{{model.getTotalDays(adjustmentType)}}</span>
            <span>Days</span>
            {% if model.showDetails(adjustmentType) %}
                <a href="/{{model.prisonerDetail.offenderNo}}/{{adjustmentType.url}}/view" data-qa="view-{{adjustmentType.url}}">view details</a>
            {% endif %}
            {{ govukDetails({
                summaryText: "More about " + adjustmentType.shortText,
                text: adjustmentType.moreAboutText or "More about " + adjustmentType.shortText
            }) }}
        </div>
    </div>
{% endmacro %}