{% extends "govuk/template.njk" %}
{% from "hmpps/components/legal-information/service-header/macro.njk" import serviceHeader %}
{% from "hmpps/components/legal-information/sub-navigation/macro.njk" import subNavigation %}

{% block head %}
  {% if tagManagerContainerId %}
    <!-- Tag manager dataLayer -->
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
    </script>

    <!-- Add user details to the dataLayer if present on this page load -->
    {% if user %}
      <script nonce="{{ cspNonce }}">
        window
          .dataLayer
          .push({
            'user': {
              'prisons': {{ user.caseloads | formatListAsString | safe }},
              'prisonDescriptions': {{ user.caseloadDescriptions | formatListAsString | safe }}
            }
          })
      </script>
    {% endif %}

    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        var n = d.querySelector('[nonce]');
        n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{ tagManagerContainerId }}');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}

  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
  {{ 
      serviceHeader({
      environment: environment,
      prisonNumber: prisoner.prisonerNumber
    })
  }}
{% endblock %}

{% block beforeContent %}
    <aside role="complementary">
      {% include "./phaseBanner.njk" %}
      {% include "./prisonerIdentityBar.njk" %}
    </aside>
    {% block subNavigation %}
        {% if prisoner.prisonerNumber !== undefined %}
          {{ subNavigation(
            environment, 
            {
              activeSubNav: 'adjustments'
            }, 
            prisoner.prisonerNumber) 
          }}
        {% endif %}
    {% endblock %}
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
{% endblock %}
