{%- from "hmpps/components/mini-profile/macro.njk" import miniProfile -%}
{% if prisoner %}
    {{ miniProfile(prisoner, '/prisoner/' + prisoner.prisonerNumber + '/image', digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
{% endif %}