{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}

{% if model.prisonerDetail %}
  {{ miniProfile(model.prisonerDetail, '/image/' + model.prisonerDetail.offenderNo, '#') }}
{% endif %}