{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Review adjustment information" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
          {% if model.intercept.number > 1 %}
            {% set pluralisation = "s" %}
          {% else %}
            {% set pluralisation = "" %}
          {% endif %}

          {% if model.intercept.type == 'FIRST_TIME' %}
            {% if model.numOfAdaAdjudications === 0 %}
              Review ADA adjustment{{pluralisation}}
            {% else %}
              Review ADA adjudication{{pluralisation}}
            {% endif %}
          {% elif model.intercept.type == 'PADA' %}
            Review PADA{{pluralisation}}
          {% elif model.intercept.type == 'UPDATE' %}
            Review ADA updates
          {% else %}
            Review adjustment information
          {% endif %}
      </h1>

      <p class="govuk-body">
        {% if model.intercept.type == 'FIRST_TIME' %}
          {% if model.numOfAdaAdjudications === 0 %}
            This service has identified an ADA adjustment with no supporting ADA adjudication.
            You must review the ADA adjustment and confirm whether it should be deleted.
          {% else %}
            This service has identified ADA adjustments that were created in NOMIS.
            You must review the adjudications with ADAs and approve them in this service.
          {% endif %}
        {% elif model.intercept.type == 'PADA' %}
          {% if model.intercept.number > 1 %}
            There are PADAs (Prospective additional days awarded) recorded for {{ prisoner.firstName | title }} {{ prisoner.lastName | title }}. Review the PADAs and approve the ones that are relevant to the current sentence.
          {% else %}
            There is a PADA (Prospective additional days awarded) recorded for {{ prisoner.firstName | title }} {{ prisoner.lastName | title }}. Review the PADA and approve if it's relevant to the current sentence.
          {% endif %}
        {% elif model.intercept.type == 'UPDATE' %}
          Updates have been made to ADA (Additional days awarded) information, which need to be approved.
        {% endif %}
      </p>

      {% if model.intercept.anyProspective %}
        {% set url = "/" + prisoner.prisonerNumber + "/additional-days/review-prospective" %}
      {% else %}
        {% set url =  "/" + prisoner.prisonerNumber + "/additional-days/review-and-approve" %}
      {% endif %}

      {% if model.intercept.type == 'PADA' %}
        {% set interceptType = "PADA" %}
      {% else %}
        {% set interceptType = "ADA" %}
      {% endif %}

      {{ govukButton({
        text: "Review " + interceptType + pluralisation,
        href: url,
        preventDoubleClick: true,
        attributes: {'data-qa': 'review-link'}
      }) }}
    </div>
  </div>

{% endblock %}