{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Review adjustment information" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
          {% if model.intercept.type == 'FIRST_TIME' %}
            Review ADA adjudication{% if model.intercept.number > 1%}s{% endif %}
          {% elif model.intercept.type == 'PADA' %}
            Review PADA{% if model.intercept.number > 1%}s{% endif %}
            </h2>
          {% elif model.intercept.type == 'UPDATE' %}
            Review ADA updates
          {% else %}
            Review adjustment information
          {% endif %}
      </h1>

      <p class="govuk-body">
        {% if model.intercept.type == 'FIRST_TIME' %}
          The first time you use the adjustments service, you must check that the ADA (Additional days awarded) information is correct.
        {% elif model.intercept.type == 'PADA' %}
          Review and approve the PADAs that are relevant to the current sentence.
        {% elif model.intercept.type == 'UPDATE' %}
          Review and approve the changes that have been made to the ADAs
        {% endif %}
      </p>

      {% if model.intercept.anyProspective %}
        {% set url = "/" + prisoner.prisonerNumber + "/additional-days/review-prospective" %}
      {% else %}
        {% set url =  "/" + prisoner.prisonerNumber + "/additional-days/review-and-approve" %}
      {% endif %}

      {% if model.intercept.number > 1 %}
        {% set buttonLabel = "Review ADAs" %}
      {% else %}
        {% set buttonLabel = "Review ADA" %}
      {% endif %}
      {{ govukButton({
        text: buttonLabel,
        href: url,
        preventDoubleClick: true,
        attributes: {'data-qa': 'review-link'}
      }) }}
    </div>
  </div>

{% endblock %}