{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Review PADAs" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <a href="/{{ prisoner.prisonerNumber }}/additional-days/intercept" class="govuk-back-link">Back</a>

  {% if padaForm.errors.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: padaForm.errorList()
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group govuk-body">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-xl">Adjustments</span>
          Select the relevant PADAs
        </h1>

        <p>
          Select the PADAs that apply to the prisoner's sentence calculation.
        </p>
        <p>
          The rules for PADAs can be found in the <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1083190/sc-annex-a-operational-guidance.pdf#page=102">policy
            framework</a>.
        </p>

        <form class="form" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          {{ adaTable({
            tableId:'prospective-adas',
            adas: padasToReview.prospective,
            total: padasToReview.totalProspective,
            checkboxes: true
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue",
              type: submit,
              preventDoubleClick: true,
              attributes: {'data-qa': 'continue-button'}
            }) }}

            {{ govukButton({
              text: "Cancel",
              href: "../",
              classes: "govuk-button--secondary",
              attributes: {'data-qa': 'cancel-button'}
            }) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/unselectAll.js"></script>
{% endblock %}