{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Review and approve ADAs" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% if adasToReview.intercept.anyProspective %}
    {% set url = "/" + prisoner.prisonerNumber + "/additional-days/review-prospective" %}
  {% else %}
    {% set url = "/" + prisoner.prisonerNumber + "/additional-days/intercept" %}
  {% endif %}
  <a href="{{url}}" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group govuk-body">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-xl">Adjustments</span>
          Review and {% if adasToReview.showExistingAdaMessage %}delete{% else %}approve{% endif %} ADAs
        </h1>

        {% if adasToReview.showExistingAdaMessage %}
          {% set adaRows = [] %}
          {% set totalDays = 0 %}
          {% for ada in adasToReview.adjustmentsToRemove %}
            {% set adaRows = (adaRows.push([{
              text: ada.lastUpdatedDate | date("DD MMM YYYY")
            }, {
              text: ada.fromDate | date("DD MMM YYYY")
            }, {
              text: ada.toDate | date("DD MMM YYYY")
            }, {
              html: '<strong class="govuk-tag govuk-tag--red">Pending deletion</strong>'
            }, {
              text: ada.days
            }]), adaRows) %}
            {% set totalDays = totalDays + ada.days %}
          {% endfor %}
           {% set adaRows = (adaRows.push([{
              text: 'Total ADAs removed from calculation',
              colspan: 4,
              classes: 'govuk-!-text-align-right'
            }, {
              text: totalDays
            }]), adaRows) %}
          {{ govukTable({
            caption: "Adas pending deletion",
            captionClasses: "govuk-visually-hidden",
            head: [{
              text: "Last updated"
            }, {
              text: "From date"
            }, {
              text: "To date"
            }, {
              text: "Status"
            }, {
              text: "Days"
            }],
            rows: adaRows
          }) }}
        {% else %}
          <p>
            {% if adasToReview.intercept.type == 'FIRST_TIME'%}
              ADA adjustments are based on adjudication records. To apply ADAs, you must confirm that the adjustment information below is correct.
            {% else %}
              Check that the existing ADAs are correct, then review and approve pending ADAs.
            {% endif %}
          </p>

          {% if adasToReview.intercept.type != 'FIRST_TIME'%}
            <h2 class="govuk-heading-m">Existing ADAs</h2>
            {{ adaTable({
              tableId: 'awarded-adas',
              adas: adasToReview.awarded,
              total: adasToReview.totalAwarded,
              totalText: 'Total ADAs taken into calculation',
              mainTitle: 'These ADAs will be included in the calculation.',
              emptyTitle: prisoner.firstName | title + ' ' + prisoner.lastName | title + ' has no ADAs that are applicable to the current sentences.'
              }) }}
          {% endif %}

          {% if adasToReview.suspended | length %}
            <h2 class="govuk-heading-m">Suspended ADAs</h2>
            {{ adaTable({
              tableId: 'suspended-adas',
              adas: adasToReview.suspended,
              total: adasToReview.totalSuspended,
              totalText: 'Total suspended ADAs',
              mainTitle: 'Suspended ADAs will not be included in the calculation.'
              }) }}
          {% endif %}

          <h2 class="govuk-heading-m">ADAs to be approved</h2>
          {% if adasToReview.showRecallMessage %}
          <p class="govuk-body">Some ADAs pending approval may or may not apply, as they were awarded when this person was in custody on a licence recall.</p>
          <p class="govuk-body">Once you have reviewed and approved them, decide whether they should be added to the manual sentence calculation - 
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1083190/sc-annex-a-operational-guidance.pdf">read the operational guidance for sentence calculation (opens in new tab)</a> to check.</p>
          {% endif %}
          {{ adaTable({
            tableId: 'awaiting-approval-adas',
            adas: adasToReview.awaitingApproval,
            total: adasToReview.totalAwaitingApproval,
            totalText: 'Total ADAs taken into calculation',
            mainTitle: '' if adasToReview.showRecallMessage else 'Once you have reviewed and approved the pending ADAs, they will be added to the sentence calculation.',
            emptyTitle: 'No ADA records waiting for approval exist for this offender'
            }) }}

          {% if adasToReview.quashed | length %}
            <h2 class="govuk-heading-m">Quashed ADAs</h2>
            {{ adaTable({
              tableId: 'quashed-approval-adas',
              adas: adasToReview.quashed,
              total: adasToReview.totalQuashed,
              totalText: 'Total days',
              mainTitle: 'Once you have reviewed and approved the quashed ADAs, they will not be added to the sentence calculation.'
              }) }}
          {% endif %}

        </div>

      {% endif %}
      <div class="govuk-inset-text">
            If you think some information is wrong, ask the team responsible for adjudications in your prison to correct it, then <a href="">reload this page.</a>
      </div>
      <div class="govuk-!-margin-top-8">
        {% if not adasToReview.showExistingAdaMessage %}
          <h2 class="govuk-heading-m">Approve ADAs</h2>
          <p class="govuk-body">If all the ADA information is correct, approve the pending ADAs.</p>
        {% endif %}
        <form class="form" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          <div class="govuk-button-group">
            {{ govukButton({
                text: "Approve",
                type: submit,
                preventDoubleClick: true,
                attributes: {'data-qa': 'approve-button'}
              }) }}
            {{ govukButton({
              text: "Cancel",
              href: "/" + prisoner.prisonerNumber,
              classes: "govuk-button--secondary"
            }) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}