{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Review additional days awarded" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="moj-width-container">

    <a href="/{{model.prisonerDetail.offenderNo}}/additional-days/intercept" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">

      {% if padaForm.errors.length %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: padaForm.errorList()
              }) }}
          </div>
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-form-group govuk-body">

            <h1 class="govuk-heading-l">
              <span class="govuk-caption-xl">Adjust release dates</span>
              Review PADAs
            </h1>

            <p>
              Select the PADA adjudications that apply to the prisoner's sentence calculation
            </p>
            <p>
              The rules for PADAs can be found in the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1154896/psi-05-2018-prison-adjudications-may-2023.pdf">policy framework</a>.
            </p>

            <form class="form" method="post">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
              {{ adaTable('prospective-adas', padasToReview.prospective, padasToReview.totalProspective, null, null, true) }}

              {{ govukButton({
                text: "Continue",
                type: submit,
                preventDoubleClick: true
              }) }}

            </form>
            <a href="../">Cancel and return to dashboard</a>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/unselectAll.js"></script>
{% endblock %}