{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/adaTable.njk" import adaTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - ADA details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <a href="/{{ prisoner.prisonerNumber }}" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
        ADA details
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% set adaRows = [] %}
      {% set totalDays = 0 %}
      {% set isRemovePADA = false %}
      {% for ada in model.adjustments %}
        {% set isRemovePADA = isRemovePADA or ada.additionalDaysAwarded.prospective %}
        {% set removeHtml = '<a href="/' + prisoner.prisonerNumber + '/additional-days/remove-prospective/' + ada.fromDate + '">Remove PADA</a>' if ada.additionalDaysAwarded.prospective else '' %}
        {% set adaRows = (adaRows.push([{
          text: ada.fromDate | date("D MMMM YYYY")
        }, {
          text: ada.days
        }, {
          html: removeHtml
        }]), adaRows) %}
        {% set totalDays = totalDays + ada.days %}
      {% endfor %}
      {% set adaRows = (adaRows.push([{
        html: '<strong>Total ADAs taken into calculation</strong>',
        classes: 'govuk-!-text-align-right'
      }, {
        html: '<strong>' + totalDays + '</strong>',
        colspan: 2
      }]), adaRows) %}
      {% if isRemovePADA or adaRows | length > 2 %}
          {{ govukTable({
            caption: "Adas pending deletion",
            captionClasses: "govuk-visually-hidden",
            head: [{
              text: "Date charge proved"
            }, {
              text: "Days"
            }, {
              text: ""
            }],
            rows: adaRows
          }) }}
      {% endif %}
    </div>
  </div>

  {{ adaTable({
      tableId:'awarded-adas',
      adas: model.awarded,
      total: model.totalAwarded,
      hideStatuses: true,
      totalText: 'Total ADAs taken into calculation',
      showTotalPerDateCharged: true
  }) }}

  </div>
{% endblock %}