{% extends "../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - " + model.addOrEdit + " " + model.form.adjustmentType().shortText %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {% if model.addOrEdit == 'edit' and model.id %}
      {% set backlink = "/" + model.prisonerDetail.offenderNo + "/" + model
        .form
        .adjustmentType()
        .url + "/view" %}
    {% else %}
      {% set backlink = "/" + model.prisonerDetail.offenderNo %}
    {% endif %}
    {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
  </nav>
{% endblock %}

{% block content %}

  {% if model.form.errors.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.form.errorList()
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjust release dates</span>
                                Edit {{model.form.adjustmentType().shortText}} details
                            </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% include model
          .form
          .fragment() %}

        {{ govukButton({
            text: "Continue",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'submit-form' }   
        }) }}
      </form>
    </div>
  </div>
{% endblock %}