{% extends "../../partials/layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../../macros/hubAdjustmentCard.njk" import adjustmentCard %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set showSubNav = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.message %}
        {% if model.message.action === 'REJECTED' %}
          {% set html %}
            <h3 class="govuk-notification-banner__heading">{{ model.message.days }} days of suggested remand have been
              rejected</h3>
          {% endset %}
        {% elif model.isAddEditDelete() %}
          {% set html %}
          <h3 class="govuk-notification-banner__heading">{{ model.getNotificationBannerHeadingForAddEditDelete() }}</h3>
          {{ calcReleaseDatesMessage(model.calculateReleaseDatesUrl(), prisoner) }}
          {% endset %}
        {% endif %}

        {% if model.message.action === 'VALIDATION' %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: model.message.text
              }
            ],
            attributes: {'data-qa': 'error-message'}
          }) }}
        {% else %}
          {{ govukNotificationBanner({
            html: html,
            type: 'success',
            attributes: {'data-qa': 'success-message'},
            classes: 'govuk-notification-banner__no-header'
          }) }}
        {% endif %}
      {% endif %}

      <div class="moj-page-header-actions">

        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Adjustments</span>Review and apply adjustments</h1>
        </div>
      </div>

      <p class="govuk-body">
        You can add new adjustments, or review and edit existing adjustments using this service. Make sure you calculate release dates after making any changes to this person's adjustment information.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.displayReview() %}
        <div class="custom-card">
          <h2 class="govuk-heading-m adj-card-heading">There is existing remand to review</h2>
          <p data-qa="relevant-remand-message">Based on the data from court outcomes in
            NOMIS, {{ prisoner.firstName | title }}
            {{ prisoner.lastName | title }} may have {{ model.getTotalDaysRelevantRemand() }} days remand.
            Review the remand to make sure it is relevant.</p>
          <a href="/{{ prisoner.prisonerNumber }}/remand" class="govuk-button" role="button" data-qa="relevant-remand">Review</a>
        </div>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-padding-left-4">
        Deductions
      </h2>

      {% if model.unusedDeductionMessage != 'NONE' %}
        <div class="govuk-inset-text govuk-!-margin-left-4">
          {% if model.unusedDeductionMessage == 'UNSUPPORTED' %}
            Some of the details recorded in NOMIS cannot be used for a sentence calculation. This means unused deductions cannot be automatically calculated by this service. To add any unused remand, go to the sentence adjustments screen in NOMIS.
          {% elif model.unusedDeductionMessage == 'VALIDATION' %}
            Some of the data in NOMIS related to this person is incorrect. This means unused deductions cannot be automatically calculated.
            <br />
            To continue, you must:
            <ol>
              <li>
                <a href="{{ model.checkInformationLink }}" target="_blank">Review the incorrect details</a>
              </li>
              <li>
                Update these details
              </li>
              <li>
                <a href="">Reload this page</a>
              </li>
            </ol>
          {% elif model.unusedDeductionMessage == 'NOMIS_ADJUSTMENT' %}
            Existing deductions have been added on NOMIS. This means unused deductions cannot be automatically calculated. To add any unused remand, go to the sentence adjustments screen in NOMIS.
          {% elif model.unusedDeductionMessage == 'UNKNOWN' %}
            Unused remand/tagged bail time cannot be calculated. Any unused deductions must be entered in NOMIS.
          {% endif %}
        </div>
      {% endif %}

      <div class="adjustment-card-container govuk-body">
        {% for adjustmentType in model.deductions() %}
          {{ adjustmentCard(adjustmentType, model, prisoner.prisonerNumber) }}
        {% endfor %}
      </div>

      <h2 class="govuk-heading-m govuk-!-padding-left-4">
        Additions
      </h2>
      <div class="adjustment-card-container govuk-body">
        {% for adjustmentType in model.additions() %}
          {{ adjustmentCard(adjustmentType, model, prisoner.prisonerNumber) }}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="govuk-inset-text govuk-!-margin-left-2 govuk-!-margin-top-9">
    <h2 class="govuk-heading-m">Calculate release dates</h2>
    <p>Any changes you make to the adjustments could impact the release dates for {{ prisoner.firstName | title }}
      {{ prisoner.lastName | title }}
    </p>
    <a href="{{ model.calculateReleaseDatesUrl() }}" class="govuk-button">
      Calculate release dates
    </a>
  </div>
{% endblock %}

{% macro calcReleaseDatesMessage(calculateReleaseDatesdUrl, prisonerDetail) %}
  <p class="govuk-body">Once all adjustments have been applied, you must
    <a href="{{ calculateReleaseDatesdUrl }}" class="govuk-notification-banner__link">calculate release dates</a>.
  </p>
{% endmacro %}
