{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Delete " +  model.adjustmentType.shortText %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
        text: "Back",
        href: "/" + prisoner.prisonerNumber + "/" + model.adjustmentType.url + "/view"
    }) }}
  </nav>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
        Delete {{model.adjustmentType.shortText}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">
            {{model.adjustmentType.shortText}} details
          </h1>
      </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukSummaryList({
        rows: model.summaryRows()
      }) }}
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Delete",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'remove-button' } 
          }) }}
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "/" + prisoner.prisonerNumber + "/" + model.adjustmentType.url + "/view"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}