{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div>
  {{ govukDateInput({
        id: "from",
        namePrefix: "from",
        items: model.form.fromItems(),
        fieldset: {
            legend: {
                text: "Date the days were restored",
                classes: "govuk-fieldset__legend--s"
            }
        },
        hint: {
            text: "For example, 27 3 2022"
        },
        errorMessage: model.form.messageForField('from-day', 'from-month', 'from-year')
        })
    }}
  {{ govukInput({
    label: {
        text: "Number of additional days restored",
        classes: "govuk-label--s"
    },
    id: "days",
    name: "days",
    inputmode: "numeric",
    attributes: { "maxlength": "4" },
    value: model.form.days,
    classes: "govuk-input--width-4",
    errorMessage: model.form.messageForField('days')
  })
}}
</div>