{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div>
  {{ govukDateInput({
        id: "from",
        namePrefix: "from",
        items: model.form.fromItems(),
        fieldset: {
            legend: {
                text: "Date of days restored",
                classes: "govuk-fieldset__legend--s"
            }
        },
        hint: {
            text: "For example, 27 3 2022"
        },
        errorMessage: model.form.messageForField('from-day', 'from-month', 'from-year')
        })
    }}


    {{ govukInput({
      label: {
        html: "<strong>Number of additional days restored</strong>"
      },
      classes: "govuk-input--width-5",
      id: "days",
      name: "days",
      inputmode: "numeric",
      value: model.form.days,
      spellcheck: false,
      errorMessage: model.form.messageForField('days')
    }) }}
</div>