{% extends "../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% if model.form.errors.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.form.errorList()
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjust release dates</span>
                                Enter RADA details
                            </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukDateInput({
                        id: "from",
                        namePrefix: "from",
                        items: model.form.fromItems(),
                        fieldset: {
                            legend: {
                                text: "Date of days restored"
                            }
                        },
                        hint: {
                            text: "For example, 27 3 2022"
                        },
                        errorMessage: model.form.messageForField('from-day', 'from-month', 'from-year')
                        })
                    }}
        {{ govukInput({
                        label: {
                            text: "Number of additional days restored"
                        },
                        id: "days",
                        name: "days",
                        value: model.form.days,
                        classes: "govuk-input--width-4",
                        errorMessage: model.form.messageForField('days')
                        })
                    }}

        <button id="court-details-button" class="govuk-button" data-module="govuk-button" data-qa="submit-form">
                    Continue
                </button>
      </form>
    </div>
  </div>
{% endblock %}