{% extends "../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Confirm and save" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
        text: "Back",
        href: model.changeLink()
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
                                Confirm and save
                            </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2>{{model.adjustmentType().shortText}} details</h2>
      {{ govukSummaryList({
        rows: model.summaryRows()
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="govuk-button-group">
          {{ govukButton({
              text: "Confirm and save",
              type: submit,
              preventDoubleClick: true,
              attributes: { 'data-qa': 'submit' }   
          }) }}
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: model.cancelLink()
            }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}