{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - view " + model.adjustmentType.shortText %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/" + prisoner.prisonerNumber
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
        {{ model.adjustmentType.alternativeText or model.adjustmentType.text }} overview
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
     {{ govukTable(model.table()) }}

{% if model.recallAdjustments and model.recallAdjustments.length > 0 %}
  <h2 class="govuk-heading-m">UAL from recalls</h2>
  <h3 class="govuk-body">This UAL time was identified when a recall was recorded</h3>
  {{ govukTable(model.secondTable()) }}
{% endif %}

{# Final Total Row #}
  <p class="govuk-body govuk-!-font-weight-bold">{{ model.allTables().total }}</p>
        <div>
          {{ govukButton({
          text: "Add new",
          href: "/" + prisoner.prisonerNumber + "/" + model.adjustmentType.url + "/add"
        }) }}
        </div>
    </div>
  </div>
{% endblock %}