{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - view " + model.adjustmentType.shortText %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/" + model.prisonerDetail.offenderNo
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjust release dates</span>
        {{ model.adjustmentType.alternativeText or model.adjustmentType.text }} details
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.adjustmentType.value == 'REMAND' and model.remandDecision %}
        <p class="govuk-body">{{model.remandDecision.days}} days of suggested remand was 
                    {{ "accepted" if model.remandDecision.accepted else "rejected" }}
                     on {{model.remandDecision.decisionOn | date("DD MMMM YYYY")}}
                      by {{model.remandDecision.decisionBy}}</p>
      {% endif %}
      {{ govukTable(
        model.table()
      ) }}
      {% if model.showAddNewButton() %}
        <div>
          {{ govukButton({
          text: "Add new",
          href: "/" + model.prisonerDetail.offenderNo + "/" + model.adjustmentType.url + "/add"
        }) }}
        </div>
      {% endif %}
      <a href="/{{ model.prisonerDetail.offenderNo }}" class="govuk-link">Return to dashboard</a>
    </div>
  </div>
{% endblock %}