{% extends "../../partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - are you sure?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
        text: "Back",
        href: "/" + prisoner.offenderNo + "/" + model.adjustmentType().url + "/edit"
    }) }}
  </nav>
{% endblock %}

{% block content %}
  {% if model.form.errors.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.form.errorList()
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "confirm",
          fieldset: {
            legend: {
              text: model.question(),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: model.hint()
          },
          errorMessage: model.form.messageForField('confirm'),
          items: [
            {
              value: "yes",
              text: "Yes, add this ADA time"
            },
            {
              value: "no",
              text: "No, go back and change the amount of ADA time"
            }
          ]
        }) }}

        {{ govukButton({
            text: "Confirm",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'submit' }   
        }) }}
      </form>
    </div>
  </div>
{% endblock %}