{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Enter remand dates" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: model.backlink()
    }) }}
  </nav>
{% endblock %}
{% block content %}

  {% if model.errorMessage() %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            model.errorMessage()
            ]
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
          classes: "govuk-radios--inline",
          id: "ppcsDays",
          name: "ppcsDays",
          fieldset: {
            legend: {
              text: "Has PPCS provided the number of special remission days?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: model.errorMessage(),
          items: [ {text:'Yes', value: 'yes'},{ text: 'No', value: 'no' }]
          }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'submit-form' }
          }) }}
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: model.cancelLink()
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}