{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./remandOffence.njk" import offenceList %}

{% macro remandCard(adjustment, offenderNo, alternateSummaryListStyle, showLinks, showDateAndEstablisment) %}
{% if alternateSummaryListStyle %}
  {% set summaryListClasses = "no-footer-summary-list" %}
{% else %}
  {% set summaryListClasses = "" %}
{% endif %}
<div class="adjustment-card full clear govuk-!-margin-bottom-4">
    <div class="govuk-summary-card__title-wrapper adjustment-card-heading">
        <h2 class="govuk-summary-card__title">{{'From ' + adjustment.fromDate | date("D MMMM YYYY") + ' to ' + adjustment.toDate | date("D MMMM YYYY")}}</h2>
        {% if showLinks != false %}
          <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                  <a data-qa="edit-remand" class="govuk-link" href="/{{ offenderNo }}/remand/edit/{{ adjustment.id }}">
                    Edit<span class="govuk-visually-hidden"> remand from {{adjustment.fromDate | date("D MMMM YYYY")}} to {{adjustment.toDate | date("D MMMM YYYY")}}</span>
                  </a>
              </li>
              <li class="govuk-summary-card__action">
                  <a data-qa="delete-remand" class="govuk-link" href="/{{ offenderNo }}/remand/remove/{{ adjustment.id }}">
                    Delete<span class="govuk-visually-hidden"> remand from {{adjustment.fromDate | date("D MMMM YYYY")}} to {{adjustment.toDate | date("D MMMM YYYY")}}</span>
                  </a>
              </li>
          </ul>
        {% endif %}
    </div>
    <div class="adjustment-card_content">

      {% if showDateAndEstablisment %}
       {% set rows = [
          {
            key: {
            text: "Offences"
          },
            value: {
            html: offenceList(adjustment.offences)
          }
          },
          {
            key: {
            text: "Days"
          },
            value: {
            html:  '<strong>' + adjustment.daysToDisplay + '</strong>'          }
          },
          {
            key: {
            text: "Date applied"
          },
            value: {
            text: adjustment.lastUpdatedDate | date("D MMMM YYYY")
          }
          },{
            key: {
              text: "Establishment"
            },
            value: {
              text: adjustment.prisonName or 'Unknown'
            }
        }] %}
      {% else %}
        {% set rows = [
          {
            key: {
            text: "Offences"
          },
            value: {
            html: offenceList(adjustment.offences)
          }
          },
          {
            key: {
            text: "Days"
          },
            value: {
            text: adjustment.daysToDisplay
          }
        }] %}

      {% endif %}

      {{ govukSummaryList({
          classes: summaryListClasses,
          rows: rows
        }) }}
    </div>
</div>
{% endmacro %}
