{% macro offenceList(offences) %}
  <div class='govuk-list'>
    {% for o in offences %}
      <div>
        {{ o.offenceDescription }} {% if o.recall %}<span class="moj-badge moj-badge--grey moj-badge--recall">RECALL</span>{% endif %}
        <br>
        <span class="govuk-hint">
                    {{ offenceCommittedText(o) }}
                </span>
      </div>
    {% endfor %}
  </div>
{% endmacro %}


{% macro offenceCommittedText(offence) %}
  {% if (offence.offenceEndDate and offence.offenceStartDate and offence.offenceEndDate !== offence.offenceStartDate) %}
    Committed from {{ offence.offenceStartDate | date("DD MMM YYYY") }} to {{ offence.offenceEndDate | date("DD MMM YYYY") }}
    {% elif offence.offenceStartDate %}
    Committed on {{ offence.offenceStartDate | date("DD MMM YYYY") }}
    {% elif offence.offenceEndDate %}
    Committed on {{ offence.offenceEndDate | date("DD MMM YYYY") }}
  {% else %}
    Offence date not entered
  {% endif %}
{% endmacro %}
