{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro remandCard(adjustment, offenderNo) %}
<div class="adjustment-card wider clear">
    <div class="govuk-summary-card__title-wrapper adjustment-card-heading clear">
        <h2 class="govuk-summary-card__title">{{'From ' + adjustment.fromDate | date("DD MMM YYYY") + ' to ' + adjustment.toDate | date("DD MMM YYYY")}}</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/{{ offenderNo }}/remand/edit/{{ adjustment.id }}">Edit</a>
            </li>
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/{{ offenderNo }}/remand/remove/{{ adjustment.id }}"> Delete</a>
            </li>
        </ul>
    </div>
    <div class="adjustment-card_content">
      {{ govukSummaryList({
          rows: [
          {  
            key: {
              text: "Offences"
            },
            value: {
              html: offenceList(adjustment.offences)
            }
          },    
          {
            key: {
              text: "Days"
            },
            value: {
              text: adjustment.daysToDisplay
            }
          }]
        }) }}
    </div>
</div>
{% endmacro %}

{% macro offenceList(offences) %}
  <ul class='govuk-list'>
    {% for o in offences %}
      <li>
        {{ o.offenceDescription }}
        <br>
        <span class="govuk-hint">
                    {{ offenceCommittedText(o) }}
                </span>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro offenceCommittedText(offence) %}
  {% if (offence.offenceEndDate and offence.offenceStartDate and offence.offenceEndDate !== offence.offenceStartDate) %}
    Committed from {{ offence.offenceStartDate | date("DD MMM YYYY") }} to {{ offence.offenceEndDate | date("DD MMM YYYY") }}
    {% elif offence.offenceStartDate %}
    Committed on {{ offence.offenceStartDate | date("DD MMM YYYY") }}
    {% elif offence.offenceEndDate %}
    Committed on {{ offence.offenceEndDate | date("DD MMM YYYY") }}
  {% else %}
    Offence date not entered
  {% endif %}
{% endmacro %}
