{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./remandOffence.njk" import offenceList %}
{#
This macro returns a remand summary.
The params are wrapped inside the attributes object and are as follows:
  adjustment (mandatory)
  offences (mandatory)
  prisonerDetail (mandatory)
  isEdit (optional) true/false
#}
{% macro remandSummary(attributes) %}
  {% set adjustment = attributes.adjustment %}
  {% set offences = attributes.offences %}
  {% set offenderNo = attributes.offenderNo %}
  {% set isEdit = attributes.isEdit %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Remand period"
      },
        value: {
        text: 'From ' + adjustment.fromDate | remandDate("D MMMM YYYY") + ' to ' + adjustment.toDate | remandDate("D MMMM YYYY")
      },
        actions: {
        items: [
          {
            href: '/' + offenderNo + '/remand/dates/edit/' + adjustment.id,
            text: "Edit",
            visuallyHiddenText: "remand period starting " + adjustment.fromDate | date("D MMMM YYYY"),
            attributes: { 'data-qa': 'edit-remand-period' }
          }
        ]
      } if (isEdit)
      },
      {
        key: {
        text: "Offences"
      },
        value: {
        html: offenceList(offences)
      },
        actions: {
        items: [
          {
            href: '/' + offenderNo + '/remand/offences/edit/' + adjustment.id,
            text: "Edit",
            visuallyHiddenText: "offences for remand starting " + adjustment.fromDate | date("D MMMM YYYY"),
            attributes: { 'data-qa': 'edit-remand-offences' }
          }
        ]
      } if (isEdit)
      },
      {
        key: {
        text: "Days spent on remand"
      },
        value: {
        text: adjustment.days
      }
      }
    ]
  }) }}
{% endmacro %}

