$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';
@import 'hmpps/all';

@import './components/adjustment-card';
@import './components/review-list';
@import './components/header-bar';
@import 'assets/scss/local';


.table-ual-column-type {
  width: 8em;
  word-wrap: break-word;
}

.nowrap-header {
  white-space: nowrap;
}

.remand-rejection-banner-title {
  margin-bottom: 0;
}