.govuk-main-wrapper {
  min-height: 600px
}

.table-thick-bottom-border {
  border-bottom: 3px solid $govuk-border-colour
}

.column-width-seventy-percent {
  width: 70%
}

.govuk-\!-width-one-fifth {
  width: 20%
}
.govuk-\!-width-two-fifths {
  width: 40%
}
.govuk-\!-width-three-fifths {
  width: 60%
}
.govuk-\!-width-four-fifths {
  width: 80%
}


.shadow-card {
  border-left: 4px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  padding: 20px;
}