.govuk-main-wrapper {
  min-height: 600px
}

.table-thick-bottom-border {
  border-bottom: 3px solid $govuk-border-colour
}

.column-width-seventy-percent {
  width: 70%
}

.govuk-\!-width-one-fifth {
  width: 20%
}
.govuk-\!-width-two-fifths {
  width: 40%
}
.govuk-\!-width-three-fifths {
  width: 60%
}
.govuk-\!-width-four-fifths {
  width: 80%
}


.shadow-card {
  border-left: 4px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  padding: 20px;
}

/**
Removes the header from the govukNotificationBanner.
 */
.govuk-notification-banner__no-header {
  .govuk-notification-banner__header {
    display: none;
  }
}

/**
Custom style for the badges used on sentences that have a calculation type of recall.
 */
.moj-badge--recall {
  margin: 0 0 0 10px;
}

.vertical-bar {
  height: 1rem;
  margin: 0 5px -1px 5px;
  width: 1.5px;
  background-color: black;
  display: inline-block;
}