.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0px;
}

.table-thick-bottom-border {
  border-bottom: 3px solid $govuk-border-colour
}

.column-width-seventy-percent {
  width: 70%
}

.govuk-\!-width-one-fifth {
  width: 20%
}
.govuk-\!-width-two-fifths {
  width: 40%
}
.govuk-\!-width-three-fifths {
  width: 60%
}
.govuk-\!-width-four-fifths {
  width: 80%
}
.govuk-\!-white-space-nowrap {
  white-space: nowrap
}

.shadow-card {
  border-left: 4px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  padding: 20px;
}

/**
Removes the header from the govukNotificationBanner.
 */
.govuk-notification-banner__no-header {
  .govuk-notification-banner__header {
    display: none;
  }
}

/**
Custom style for the badges used on sentences that have a calculation type of recall.
 */
.moj-badge--recall {
  margin: 0 0 0 10px;
}

/**
Used to set equal padding on all sides of the card__content
*/
.govuk-summary-card__content {
  &.equal-padding {
    padding: 20px;
  }
}

.checkbox-padding {
  padding: 10px 20px;
}

/**
Used in place of '|' so that screenreaders do not read it out.
Example usage: Lorem ipsum <span class="vertical-bar"></span> Dolor sit amet.
Example output: Lorem ipsum | Dolor sit amet.
*/
.vertical-bar {
  height: 1rem;
  margin: 0 5px -1px 5px;
  width: 1.5px;
  background-color: black;
  display: inline-block;
}

/**
Used for table columns containing statuses which use the govuk-tag.
*/
.status-cell {
  width: 80%;
  .status-tag-row {
    min-height: 35px;
    .govuk-tag {
      white-space: nowrap;
    }
  }
}

/**
Used for govuk-tag to allow longer width tags to prevent line breaks
 */
.single-line-tag {
  white-space: nowrap;
  max-width: unset;
}