{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro taggedBailCard(adjustment, sentenceAndOffence, offenderNo, alternateSummaryListStyle) %}
{% if alternateSummaryListStyle %}
  {% set summaryListClasses = "no-footer-summary-list" %}
{% else %}
  {% set summaryListClasses = "" %}
{% endif %}
<div class="adjustment-card full clear govuk-!-margin-bottom-4">
  <div class="govuk-summary-card__title-wrapper adjustment-card-heading clear">
    <h2 class="govuk-summary-card__title">{{ sentenceAndOffence.courtDescription }}</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/{{ offenderNo }}/tagged-bail/edit/{{ adjustment.id }}">
          Edit<span class="govuk-visually-hidden"> {{ adjustment.days }} days of tagged bail with case reference {{ sentenceAndOffence.caseReference }}</span>
        </a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/{{ offenderNo }}/tagged-bail/remove/{{ adjustment.id }}">
          Delete<span class="govuk-visually-hidden"> {{ adjustment.days }} days of tagged bail with case reference {{ sentenceAndOffence.caseReference }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="adjustment-card_content">
    {{ govukSummaryList({
      classes: summaryListClasses,
      rows: [
        {
          key: {
            text: "Case reference"
          },
          value: {
            html: sentenceAndOffence.caseReference
          }
        },
        {
          key: {
            text: "Days"
          },
          value: {
            text: adjustment.days
          }
      }]
    }) }}
  </div>
</div>
{% endmacro %}
