{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./partials/remandSummary.njk" import remandSummary %}

{% set pageTitle = applicationName + " - View remand details" %}
{% set mainClasses = "app-container govuk-body" %}
{% if model.reviewDeductions %}
  {% set backlink = "/" + prisoner.prisonerNumber + "/unused-deductions/review-deductions"  %}
{% else %}
  {% set backlink = "/" + prisoner.prisonerNumber + "/remand/view"  %}
{% endif %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: backlink
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>
    Delete remand
  </h1>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">
              Remand details
          </h1>
      </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ remandSummary({
        adjustment: model.adjustment,
        offences: model.listOffences(),
        offenderNo: prisoner.prisonerNumber
      }) }}

      {% if model.showUnusedMessage %}
        <div class="govuk-!-margin-bottom-6">
          <p>The remand time will be removed. This will change the amount of unused deductions. Check the unused remand alert on NOMIS.</p>
        </div>
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Delete",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'remove-button' }
          }) }}

          {{ govukButton({
            text: "Cancel",
            href: "/" + prisoner.prisonerNumber + "/remand/view",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
