{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./partials/remandCard.njk" import remandCard %}
{% from "./partials/remandTotals.njk" import remandTotals %}

{% set pageTitle = applicationName + " - View remand details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/" + model.prisonerDetail.offenderNo
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjust release dates</span>
        Remand details for {{ model.prisonerDetail.firstName | title }} {{ model.prisonerDetail.lastName | title }}
      </h1>
      

      {{remandTotals(model.remandTotals())}}

      <div class="adjustment-card-container">
        {% for adjustment in model.adjustmentsWithOffences() %}
              {{ remandCard(adjustment, model.prisonerDetail.offenderNo) }}
        {% endfor %}
        </div>
      <div class="govuk-!-margin-top-6">
        <a href="/{{ model.prisonerDetail.offenderNo }}/remand/add" class="govuk-button" data-module="govuk-button">
          Add new
        </a>
      </div>
    </div>
  </div>

{% endblock %}