{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./partials/remandCard.njk" import remandCard %}
{% from "./partials/remandTotals.njk" import remandTotals %}

{% set pageTitle = applicationName + " - View remand details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/" + prisoner.prisonerNumber
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>
        Remand overview
      </h1>
      {% if model.unusedDeductionMessage.displayMessageOnViewPage() %}
        <div class="govuk-inset-text govuk-!-margin-left-4">
          {{ model.unusedDeductionMessage.getUnusedDeductionMessage() | safe }}
        </div>
      {% endif %}

      {% if model.adjustmentsWithOffences().length > 1 %}
        {{remandTotals(model.remandTotals())}}
      {% endif %}

      <div class="adjustment-card-container">
        {% for adjustment in model.adjustmentsWithOffences() %}
            {{ remandCard(adjustment, prisoner.prisonerNumber, null, not model.readonly()) }}
        {% endfor %}
        </div>
      {% if not model.readonly() %}
        <div class="govuk-!-margin-top-6">
          <a href="/{{ prisoner.prisonerNumber }}/remand/add" class="govuk-button" data-module="govuk-button">
            Add new
          </a>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}