{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Enter remand dates" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: model.backlink()
    }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjust release dates</span>
        Select the case for this tagged bail
      </h1>
    </div>
  </div>
  <p class="govuk-body">You can add other periods of tagged bail later.</p>

  <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-left-0">


    <div class="govuk-inset-text">
      If you think some information is wrong, you can edit it in NOMIS and <a href="">reload this page</a>.
    </div>
  </div>
{% endblock %}
