{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = applicationName + " - Enter tagged bail dates" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: model.backlink()
    }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.showUnusedMessage %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            When you save this tagged bail, the unused deductions will be automatically be recorded. Check that the unused remand alert has been added.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html
        }) }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjustments</span>
        Confirm and save
      </h1>
    </div>
  </div>

  <h2 class="govuk-heading-m">Tagged bail details</h2>
  <div class="govuk-grid-column-full govuk-!-padding-left-0">

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Case details"
          },
          value: {
            html: model.getCaseDetails()
          },
          actions: {
            items: [
              {
                href: "/" + prisoner.prisonerNumber + "/tagged-bail/select-case/add/" + model.id,
                text: "Edit"
              }
            ]
          }
        },
        {
          key: {
            text: "Number of days"
          },
          value: {
            text: model.adjustment.days
          },
          actions: {
            items: [
              {
                href: "/" + prisoner.prisonerNumber + "/tagged-bail/days/add/" + model.id,
                text: "Edit"
              }
            ]
          }
        }
      ]
    }) }}

    <div class="govuk-button-group">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukButton({
          text: "Confirm and save",
          type: submit,
          preventDoubleClick: true,
          attributes: { 'data-qa': 'submit-form' }
        }) }}
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "/" + prisoner.prisonerNumber + "/tagged-bail/view"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
