{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Enter tagged bail dates" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: model.backlink()
    }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Adjust release dates</span>
        Select the case for this tagged bail
      </h1>
    </div>
  </div>
  <p class="govuk-body">You can add other periods of tagged bail later.</p>

<div class="govuk-grid-row govuk-!-margin-left-0">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-left-0">

    {% for activeSentence in model.activeSentences() %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              {{ activeSentence.courtDescription }}
              {% if activeSentence.recall %}
                <span class="moj-badge moj-badge--grey moj-badge--recall">RECALL</span>
              {% endif %}
            </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              {% if activeSentence.selected %}
                Selected
              {% else %}
                <a class="govuk-link" href={{ activeSentence.selectCaseHref }}>
                  Select this case
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ activeSentence.caseReference or 'Not entered' }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sentence date
              </dt>
              <dd class="govuk-summary-list__value">
                {{ activeSentence.sentenceDate | date("DD MMMM YYYY") }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endfor %}

    <div class="govuk-inset-text">
      If you think some information is wrong, you can edit it in NOMIS and <a href="">reload this page</a>.
    </div>
  </div>
</div>
{% endblock %}
