{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - view " + model.adjustmentType.shortText %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ super() }}
<nav>
    {{ govukBackLink({
    text: "Back",
    href: "/" + prisoner.offenderNo
    }) }}
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Adjust release dates</span>
            Tagged bail overview
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">
            Tagged Bail details
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukTable(
        model.table()
        ) }}
        <div>
            {{ govukButton({
            text: "Add new",
            href: "/" + prisoner.offenderNo + "/tagged-bail/add"
            }) }}
        </div>
        <a href="/{{ prisoner.offenderNo }}" class="govuk-link">Return to dashboard</a>
    </div>
</div>
{% endblock %}