{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Review additional days awarded" %}
{% set mainClasses = "app-container govuk-body" %}

{# TODO Just a placeholder screen at the moment #}
{% block content %}
  {% if adjudications.length != 0 %}
    <p class="govuk-body">{{ adjudications.length }} adjudications</p>
  {% else %}
    <p class="govuk-body">No adjudications</p>
  {% endif %}

{% endblock %}
