{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Review additional days awarded" %}
{% set mainClasses = "app-container govuk-body" %}

{# TODO Just a placeholder screen at the moment #}

{% block content %}
  <div class="moj-width-container">
    <div class="">
      <a href="../" class="govuk-back-link">Back</a>

      <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-form-group govuk-body">
              <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">Adjust release dates</span>
                Review and Approve ADAs
              </h1>
              <p>
                Check that the existing ADAs are correct, then review and approve pending ADAs.
              </p>
              <!-- awarded ADAs start-->
              <h2 class="govuk-heading-m">Awarded ADAs</h2>
              <p>Awarded ADAs will be included in the calculation.</p>
              <table id="awarded-adas" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date charge proved</th>
                  <th class="govuk-table__header" scope="col">Charge details</th>
                </tr>
                </thead>
                <tbody>
                {% for ada in adaToReview.adas %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {{ ada.dateChargeProved }}
                    </td>
                    <td class="govuk-table__cell">
                      <table class="govuk-table">
                        <tr>
                          <th class="govuk-table__header" scope="col">Charge number</th>
                          <th class="govuk-table__header" scope="col">To be served</th>
                          <th class="govuk-table__header" scope="col">Heard at</th>
                          <th class="govuk-table__header " scope="col">Status</th>
                          <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                        </tr>
                        {% for charge in ada.charges %}
                          <tr>
                            <td class="govuk-table__cell">
                              {{ charge.chargeNumber }}
                            </td>
                            <td class="govuk-table__cell">
                              {{ charge.toBeServed }}
                            </td>
                            <td class="govuk-table__cell">
                              {{ charge.heardAt }}
                            </td>
                            <td class="govuk-table__cell">
                              <span class="moj-badge moj-badge--blue">{{ charge.status }}</span>
                            </td>
                            <!-- Days -->
                            <td class="govuk-table__cell govuk-!-text-align-centre">{{ charge.days }}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="1">Total ADAs taken into
                    calculation
                  </th>
                  <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-4">{{ adaToReview.totalAdas }}</td>
                </tr>
                </tfoot>
              </table>
              <!-- awarded ADAs start end-->
              <!-- suspended ADAs start-->
              <h2 class="govuk-heading-m">Suspended and Quashed ADAs</h2>
              <p>Suspended  and Quashed ADAs have not been added to the calculation.</p>
              <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date charge proved</th>
                  <th class="govuk-table__header" scope="col">Charge details</th>
                </tr>
                </thead>
                <tbody>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    15 Dec 2023
                  </td>
                  <td class="govuk-table__cell">
                    <table class="govuk-table">
                      <tr>
                        <th class="govuk-table__header" scope="col">Charge number</th>
                        <th class="govuk-table__header" scope="col">To be served</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                      </tr>
                      <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                          3765949
                        </td>
                        <td class="govuk-table__cell">
                          Forthwith
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          Nottingham prison
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          <span class=" moj-badge moj-badge--red">Suspended</span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>
                      </tr>
                      <!--                                        <tr class="govuk-table__row">-->

                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                3769132-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                Concurrent-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                Nottingham prison-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                <span class=" moj-badge moj-badge&#45;&#45;red">Suspended</span>-->
                      <!--                                            </td>-->
                      <!--                                            &lt;!&ndash; Days &ndash;&gt;-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>-->
                      <!--                                        </tr>-->
                      <!--                                        <tr class="govuk-table__row">-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                3763763-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                Concurrent-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                Nottingham prison-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                <span class=" moj-badge moj-badge&#45;&#45;red">Suspended</span>-->
                      <!--                                            </td>-->
                      <!--                                            &lt;!&ndash; Days &ndash;&gt;-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>-->
                      <!--                                        </tr>-->
                      <!--                                        <tr class="govuk-table__row">-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                3766455-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                Concurrent-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                Nottingham prison-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                <span class=" moj-badge moj-badge&#45;&#45;red">Suspended</span>-->
                      <!--                                            </td>-->
                      <!--                                            &lt;!&ndash; Days &ndash;&gt;-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>-->
                      <!--                                        </tr>-->
                      <!--                                        <tr class="govuk-table__row">-->

                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                3766472-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell">-->
                      <!--                                                Concurrent-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                Nottingham prison-->
                      <!--                                            </td>-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre">-->
                      <!--                                                <span class=" moj-badge moj-badge&#45;&#45;red">Suspended</span>-->
                      <!--                                            </td>-->
                      <!--                                            &lt;!&ndash; Days &ndash;&gt;-->
                      <!--                                            <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>-->
                      <!--                                        </tr>-->
                    </table>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    15 Feb 2023
                  </td>
                  <td class="govuk-table__cell">
                    <table class="govuk-table">
                      <tr>
                        <th class="govuk-table__header" scope="col">Charge number</th>
                        <th class="govuk-table__header" scope="col">To be served</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                      </tr>
                      <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                          6677334                                            </td>
                        <td class="govuk-table__cell">
                          Forthwith
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          Nottingham prison
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          <span class=" moj-badge moj-badge--grey">quashed</span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">8 </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="1">Total suspended and quashed ADAs </th>
                  <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-4">8</td>
                </tr>
                </tfoot>
              </table>
              <h2 class="govuk-heading-m">Awarded ADAs pending approval</h2>
              <p>Once you have reviewed and approved the ADAs pending approval, they will be added to the sentence calculation.</p>
              <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date charge proved</th>
                  <th class="govuk-table__header" scope="col">Charge details</th>
                </tr>
                </thead>
                <tbody>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    7 Aug 2023
                  </td>
                  <td class="govuk-table__cell">
                    <table class="govuk-table">
                      <tr>
                        <th class="govuk-table__header" scope="col">Charge number</th>
                        <th class="govuk-table__header" scope="col">To be served</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                      </tr>
                      <tr>
                        <td class="govuk-table__cell">
                          3583998
                        </td>
                        <td class="govuk-table__cell">
                          Forthwith
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          Belmarsh prison
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          <span class= "moj-badge moj-badge--green">Awaiting approval</span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell govuk-!-text-align-centre">7</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          3584019
                        </td>
                        <td class="govuk-table__cell">
                          Consecutive to 3583998
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          Belmarsh prison
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          <span class=" moj-badge moj-badge--green">awaiting approval</span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell govuk-!-text-align-centre">7 </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          3584030
                        </td>
                        <td class="govuk-table__cell">
                          Consecutive to 3584019
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          Belmarsh prison
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">
                          <span class=" moj-badge moj-badge--green">awaiting approval</span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell govuk-!-text-align-centre">5 </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                </tbody>

                <tfoot>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="1">Total ADAs taken into calculation </th>
                  <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-4">19</td>
                </tr>
                </tfoot>
              </table>
            </div>
            <h2 class="govuk-heading-m">Approve pending ADAs</h2>
            <!--                    <p class="govuk-body govuk-!-width-two-thirds">-->
            <!--                        Once you have checked all the adjudication information is correct, approve the pending ADAs. They will then be applied to sentence calculations.-->
            <!--                    </p>-->
            <div class="govuk-!-margin-top-8 govuk-button-group">
              <a href="check-your-answers-4.html" class="govuk-button" data-module="govuk-button">
                Approve
              </a>
            </div>
            <a href="adjustments-dashboard-d3.html">Cancel and return to dashboard</a>
            <div class="govuk-inset-text">
              If you think some information is wrong,  contact the team responsible for adjudications.
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}